*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
# databases
*.db


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/*
.idea/*
**/build
Esc.iml
Database/src/main/resources/coauthors.sql
Evolution/Evolution.iml
DataCollector/src/main/resources/TheVeryBig/pubmed_result.txt
classes/production/DataCollector/TheVeryBig/pubmed_result.txt
DataCollector/src/main/resources/TheAverage/pubmed_result.txt
CommonLib/src/main/Files/nsk_company_list_real1.txt
CommonLib/src/main/Files/nsk_company_list_real2.txt
CommonLib/src/main/Files/nsk_company_list_real3.txt
CommonLib/src/main/Files/nsk_company_list_sorted — копия.txt
CommonLib/src/main/Files/nsk_company_list_sorted1.txt
CommonLib/src/main/Files/nsk_company_list_sorted3.txt
DataCollector/src/main/resources/Year/2005.txt
DataCollector/src/main/resources/Year/2006.txt
DataCollector/src/main/resources/Year/2007.txt
DataCollector/src/main/resources/Year/pubmed_result.txt
DataCollector/src/main/resources/pubmed_result.txt
